.b 
{
   // background: url("imgs/77.jpg");
  //  background-color: blue;
    background-size: cover;
   // font-size: 20px;
}


.myfont
{
    font-weight: bold;
}

.c
{
  color: #277DA1;
    background-color: #000;
    font-weight: bold;
}



//input[type='radio']:after{
.go::after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: red;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.borderForm {
margin-left: auto;
margin-right: auto;
  justify-content: end;
 width:35rem;
  border: 0.8rem solid #277DA1;
  border-radius: 15px;
  padding: 20px;
  border-style: groove;
}


// .borderForm
// {
//   //background-image: url("imgs/00000.jpg");
//   //background-size: cover;
//   border: 30px solid #277DA1;
//   border-radius: 60px;
//   padding: 20px;
//   border-style: groove;
// }

.myfontForm
{
  font-size: large;
}

// :host ::ng-deep .ng2-smart-actions ng2-st-tbody-edit-delete {display: none !important;}
:host ::deep .cell_right {
  
  background-color:#277DA1;
 font-weight: bold;
 width: auto;
 height: 30px;
  text-align: center;
  }

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    display: inline-block;
    width: 80px;
    text-align: center;
    padding-top: 10px;
}





:host ::deep ng2-smart-table thead > tr > th  { 
  // background-color:aquamarine;  
  background-color:#277DA1;
  //color: crimson;
 }

 :host ::deep ng2-smart-table-title  > a { 
 color:white;
   }

