



<ngx-titleMd>


  
</ngx-titleMd>












<div class="row">

  
  <div class="col-lg-12">
    <nb-card status="defult">
      <!-- <nb-card-header class="text-center">{{'PMMS.name' |translate}} </nb-card-header> -->
           <!-- <nb-card-header class="text-center fs-6"> Maintenance Decision </nb-card-header> -->
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="{{'PMMS.mainstreets' |translate}}">
            <ngx-calculate-main-street-sections-Md>
            </ngx-calculate-main-street-sections-Md>
          </nb-tab>
          <!-- <nb-tab tabTitle="{{'PMMS.subsidiarystreets' |translate}}">
            <ngx-intersectionstreetMd></ngx-intersectionstreetMd>
          </nb-tab> -->
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="text-center">{{'PMMS.geographicaldata' |translate}}</nb-card-header>
      <nb-card-body>
        <app-esri-mapPMMS [center]="mapCenter" [basemap]="basemapType" [zoom]="mapZoomLevel"
          (mapLoadedEvent)="mapLoadedEvent($event)">
        </app-esri-mapPMMS>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- <div class="col-lg-12">
    <nb-card >
      <nb-card-header>Maintenance Decision</nb-card-header>
      <nb-card-body>
        <ngx-dataresultMd></ngx-dataresultMd>


      </nb-card-body>
    </nb-card>
  </div> -->
</div>






