.button1 {
    margin-left: auto;
    margin-right: auto;
    }
  
  
      ::ng-deep {
          .is-invalid {
            .dropdown-btn {
              border: 1px solid red !important;
            }
          }
          .multiselect-dropdown {
            .dropdown-btn {
              .selected-item {
               background-color: #138C9A
      
               !important;
             
                &:hover {
                  box-shadow: 1px 1px 2px 0px #5a5a5a !important;
                }
              }
            }
          }
        }
        
        label{
          font-size: large;
        }
  
        .st
  {
      border: 5px  #F3AA60;
     // border-style: groove;
      border-radius: 2%;
     // background-color:#000000;
  }
  
  .cl
  {
      color: #FBEEAC ;
  }
  
  .baseLoading
  {
      color: #F3AA60;
  
  }
  .backg
  {
      background-color: #F3AA60;
  }
  
  .btnback
  {
      background-color: #E09F3E;
      font-size: larger;
  }