.st
{
    border: 5px  #F3AA60;
   // border-style: groove;
    border-radius: 2%;
   // background-color:#000000;
}

.cl
{
    color: #FBEEAC ;
}

.baseLoading
{
    color: #F3AA60;

}
.backg
{
    background-color: #F3AA60;
}

.btnback
{
    background-color: #E09F3E;
    font-size: larger;
}