<!-- <nb-card>
  <nb-card-body> -->
<form #streetForm="ngForm" (ngSubmit)="ondatasubmit()">
  <!-- <div class="row">
        <div class="col-sm-12">
          <nb-radio-group>
            <nb-radio (click)="radioChange()" value="1">{{'PMMS.Mainroadsegments' |translate}}
            </nb-radio>
            <nb-radio (click)="radioChange1()" value="2">{{'PMMS.intersectionsofaspecifiedmajorroad'
              |translate}}</nb-radio>
          </nb-radio-group>
        </div>
      </div> -->
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputEmail" class="label text-white"> Area </label>
        <ng-multiselect-dropdown [placeholder]="'Area'" [settings]="regionsdropdownSettings"
          [data]="regionsdropdownList" [(ngModel)]="regionsselectedItems"
          (onSelect)="onRegionSelect($event)" (onDeSelect)="onRegionDeSelect($event)"></ng-multiselect-dropdown>

        <!-- <select required name="survey" [(ngModel)]="survey" ngModel class="form-control grid-width-100"
              data-style="btn-success">
              <option *ngFor="let availableSurveys of AvailableSurveys" [value]="availableSurveys.ENNAME">
                {{ availableSurveys.ENNAME }}
              </option>
            </select> -->
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputEmail" class="label text-white"> {{'PMMS.street'|translate}} </label>
        <ng-multiselect-dropdown [placeholder]="'Streets'" [settings]="streetsdropdownSettings"
          [data]="streetsdropdownList" [(ngModel)]="streetsselectedItems"
          (onSelect)="onStreetSelect($event)"></ng-multiselect-dropdown>

        <!-- <select required [(ngModel)]="STREET_ID" ngModel name="STREET_ID" class="form-control grid-width-100"
              data-style="btn-success">
              <option *ngFor="
                  let mainStreetsHavingSurveyDistresses of MainStreetsHavingSurveyDistresses
                " [value]="mainStreetsHavingSurveyDistresses.STREET_ID">
                {{ mainStreetsHavingSurveyDistresses.MAIN_NAME }}
              </option>
            </select> -->
      </div>
    </div>
  </div>
  <div *ngIf="mainorintrstreet == '1'" class="align-center">
    <button fullWidth type="submit" status="primary" nbButton>
      ZOOM TO</button>
  </div>
  <div *ngIf="mainorintrstreet == '2'">
    <button fullWidth status="success" type="submit" nbButton>
      {{'PMMS.pavementcoditioncalculation'|translate}} </button>
  </div>
</form>
<!-- </nb-card-body>
</nb-card> -->
