<div class="row">
  <div class="col-md-12 text-center">
      <h1 class="t1"> {{'DistressSurvey.name' |translate}}  </h1>

  </div>


<div class=" mt-5 b container ">
  <!-- <h3 class="  d-flex justify-content-center align-items-center mb-5 text-center w-50 m-auto text-black p-1"> عيوب المناطق والطرق الفرعية </h3> -->
  <!-- <h3 class="d-flex justify-content-center align-items-center mb-5 text-center w-50 m-auto text-black p-1">{{'DistressSurvey.name' |translate}} </h3> -->

  <div class="container  ">
      <div class="row ">
      <div class="col-md-2 mt-3 align-items-center d-flex ">
          <!-- <p>الشارع الرئيسي </p> -->
          <p class="v">{{'DistressSurvey.mainstreet' |translate}} </p>
          
      </div>
              <div class="col-md-3 mt-3 mb-3  ">
                    <div class="">


                      <!-- <select (click)="Streets($event)"  class="form-select form-control foo " >
                        <option class="test" selected>اختيار</option>
                        <option  [value]="street.STREET_ID" *ngFor="let street of  streets; let i=even ;" 
                        [style.backgroundColor]="i===true?'#ccc':'' ">
                          {{street.ARNAME}}
                        </option>
                      </select> -->

                      <ng-multiselect-dropdown  class=" "
                      [placeholder]="'custom placeholder'"
                      [settings]="dropdownSettings"
                      [data]="dropdownList"
                      [(ngModel)]="selectedItems"
                      (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)"
                    >
                  </ng-multiselect-dropdown>
                      
                    </div>
              </div>
      </div>
      <div class="row" *ngIf="  streetId!=null &&  streetId!='اختيار'">
          <div class="col-md-2  align-items-center d-flex ">
              <!-- <p>المقاطع</p> -->
                  <p class="v">{{'DistressSurvey.inter' |translate}} </p>
          </div>
                  <div class="col-md-3 mb-3 ">
                        <div class="">
                          <select   (change)="getSectionByStreetId($event)"  class="form-select form-control" >
                            <option class="test" selected> اختيار </option>
                            <option  [value]="section?.SECTION_ID" *ngFor="let section of  sections; let i=even ;" [style.backgroundColor]="i===true?'#ccc':'' ">
                              {{section.SECTION_TITLE}} 
                            </option>
                          </select>
                        </div>
                  </div>
              </div> 
  
  <div class="container b mt-5" *ngIf="   sectionId!=null &&  sectionId!='اختيار'">




  <ng2-smart-table class="mt-3" [settings]="settings1" [source]="source1" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>

  <!--
      <table class="table mt-5  text-bold text-white">
          <thead>
            <tr class="">
              <th class="" scope="col">البلدية</th>
              <th class="text-center"  scope="col">الحي</th>
              <th class="text-center"  scope="col">الشارع الرئيسي</th>
              <th class=""  scope="col">الاتجاه</th>
              <th class="text-center"  scope="col">من </th>
              <th class="text-center"  scope="col"> الي</th>
              <th class="text-center"  scope="col">الطول</th>
              <th class="text-center"  scope="col">رقم تسلسل المقطع</th>
            </tr>
          </thead>
         
             <tbody>

      
              <tr *ngFor="let section of sectioninfo  let i=even" [style.backgroundColor]="i===true?'#500':'#500' ">
              <td>{{section.MUNICIPALITY}}</td>
              <td>{{section.DISTRICT}}</td>
              <td>{{section.MAIN_ST_TITLE}}</td>
              <td>{{section.SEC_DIRECTION}}</td>
              <td>{{section.FROM_STREET}}</td>
              <td>{{section.TO_STREET}}</td>
              <td>{{section.SEC_LENGTH}}</td>
              <td>{{section.SECTION_NO }}</td>
            </tr>
 





          </tbody>         
          
        </table>
          -->
  
  </div>
              <div class="row mt-5" *ngIf="sectionId!=null &&  sectionId!='اختيار'" >
                  <!--
            <div class="col-md-3 mb3">
                                <div>
                                  <select (click)="GetLanesBySectionId($event)"  class="form-select form-control foo  " >
                                    <option class="test" selected>اختيار</option>
                                    <option  [value]="lane.LANE_ID" *ngFor="let lane of  lanes; let i=even ;" 
                                    [style.backgroundColor]="i===true?'#ccc':'' ">
                                      {{lane.LANE_TYPE}}
                                    </option>
                                  </select>
                                </div>
                          </div>
  
  -->
                            <div class="col-md-12 mb3">
                                <div class="row" >
                                    <p class="ms-2 me-2">{{'DistressSurvey.lanes' |translate}} </p>
                                    
                                    
<!-- 
                                  <div  (click)="GetLanesBySectionId($event)" class="  col-md-2 " *ngFor="let lane of  lanes" >
                                      <label  class="form-check-label" >
                                        {{lane.LANE_TYPE}}
                                      </label>
                             <input name="lane" [ngStyle]="{'font_size': inpteColor?'2px':'4px'}"  [innerText]="dd" [value]="lane.LANE_ID" class="form-check-input  col-md-1 w-20" type="radio"  >
                             </div> -->

                             <nb-radio-group   *ngFor="let lane of  lanes"   (valueChange)="GetLanesBySectionId($event)"  class=" col-md-1  " >
                              <nb-radio class="status-success" [(value)]="lane.LANE_ID" >
                                {{lane.LANE_TYPE}}
                              </nb-radio>
                            </nb-radio-group>


                                </div>
                          </div>
                    <!--  [ngStyle]="{'backgroundColor': inpteColor?'red':white}"      <div class="container" *ngFor="let lane of  lanes">
                              <div class="row" >
                                  <label for="">{{lane.LANE_RANK}}</label>
                                  <input [value]="lane.LANE_ID"  (click)="GetLanesBySectionId($event)" type="radio">
                              </div>
                          </div>
                      -->
                      </div>
                  <div class="container  ">
                      <!--   لازم احطها  <p  *ngIf="laneId!=null &&  laneId!='اختيار' &&sectionId!='اختيار' "  class=" text-center w-50 m-auto  p-1"> العينات للحارة (  {{lanename}})  </p> -->

<!-- blue table
                        <table class="table mt-5  text-bold text-white" *ngIf="laneId!=null &&  laneId!='اختيار' &&sectionId!='اختيار' ">
                          <thead>
                            <tr >
                              <th scope="col">رقم العينة</th>
                              <th scope="col">الطول م</th>
                              <th scope="col">العرض</th>
                              <th scope="col">المساحة (م2)</th>
                              <th scope="col">ملاحظات</th>
                       
                            <th scope="col"> تعديل</th>
                            <th scope="col">  عرض العيوب</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let sample  of samples let i=even" [style.backgroundColor]="i===true?'#000080':'#500' " >
                            <td>{{sample.SAMPLE_NO}}</td>
                            <td>{{sample.SAMPLE_LENGTH}}</td>
                            <td>{{sample.SAMPLE_WIDTH}}</td>
                            <td >{{sample.SAMPLE_LENGTH*sample.SAMPLE_WIDTH}}</td>
                            <td>{{sample.NOTES}}</td>
                            <td><button (click)="clickUpdate(sample.SAMPLE_NO)" class=" btn-info">تعديل</button></td>
                            <td><button (click)="GetDistressB7ySampleId(sample.SAMPLE_ID,sample.SAMPLE_NO,sample.SAMPLE_LENGTH*sample.SAMPLE_WIDTH,sample.SAMPLE_LENGTH,sample.SAMPLE_WIDTH)" class=" btn-danger">عرض العيوب...</button></td>
                          </tr>
                          <div class=" w-100 d-flex justify-content-center   align-items-center">
                        
                          </div>
                        </tbody>
                      </table>
-->

                        <ng2-smart-table  *ngIf="laneId!=null &&  laneId!='اختيار' &&sectionId!='اختيار' && hd"  [settings]="settings5"  (deleteConfirm)="onDeleteConfirm2($event)" (editConfirm)="onEditConfirm($event)" [source]="source5" (custom)="onCustomAction($event)"></ng2-smart-table>




                  </div>
  
  <div *ngIf="updateSample &&sectionId!='اختيار'" >
  
  <div class="container  ">
  <form (ngSubmit)="submitupdateSampleFunction(updateForm)" [formGroup]="updateForm">
      <label class="text-danger myfont"  for="SAMPLE_LENGTH" >Length</label>
      <input class="text-success myfont" formControlName="SAMPLE_LENGTH" type="text">
  
      <label class="text-danger myfont"  for="SAMPLE_WIDTH">Width</label>
      <input class="text-success myfont" formControlName="SAMPLE_WIDTH" type="text">
  
      <label class="text-danger myfont" for="NOTES" >Notes</label>
      <input class="text-success myfont" formControlName="NOTES" type="text">
  
      <button class="m-1 btn-success   " type="submit">   {{'DistressSurvey.upd' |translate}}   </button>
   </form>
  </div>
  </div>
            
  <div class="container b mt-5" *ngIf="checkClick">  
  <div *ngIf="laneId!=null &&  laneId!='اختيار'  " >
  <!--<h5 class="text-info text-center">تاريخ المسحة {{surveyDate |date:'MM/dd/yyyy'}}</h5>-->
  <h5 class="text-info text-center">   {{'DistressSurvey.surveyNo' |translate}} </h5>  
  <div class=" d-flex justify-content-center   align-items-center">
  <div class=" col-md-3 mb-3 ">
   <div class="">


     <!-- <select (click)="getSurveydateBySampleId($event)"  class="form-select form-control" >  5-15
       <option class="test" selected> اختيار </option>
       <option  [value]="date.SURVEY_NO " *ngFor="let date of  DatesOfSurvey; let i=even ;" [style.backgroundColor]="i===true?'#ccc':'' ">
         {{date.SURVEY_DATE|date:'MM/dd/yyyy'}}  ({{date.SURVEY_NO}})
       </option>
     </select> -->



   </div>
  </div>
  </div>
   </div>
                 <div >   <!--*ngIf=" surveyDate!='Invalid date' &&  surveyDate!=='اختيار' "-->
                  <div *ngIf=" laneId!=null &&  laneId!='اختيار'  " >
                    <p class=" text-center w-50 m-auto  p-1"> Distress For Sample({{sample_no}})  By Survey Number => ({{x}})  </p>
                  </div>





                  
<!--

   <table class="table mt-5  text-bold text-white "  *ngIf="(date && laneId!=null &&  laneId!='اختيار' ) ">
                      <thead>
                        <tr >
                          <th class="text-danger text-center myfont" scope="col"> اسم ورمز العيب</th>
                          <th scope="col">شدة العيب</th>
                          <th scope="col">المساحة (م2)</th>
                          <th scope="col">(%)الكثافة</th>
                          <th scope="col">نقاط الحسم</th>
                          <th scope="col"> تصحيح الكثافة</th>
                          <th scope="col"> معامل التصحيح الكلي</th>
                          <th scope="col">   الملاحظات</th>
                          <th scope="col">  تاريخ المسح </th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let distress  of DistressDate let i=even" [style.backgroundColor]="i===true?'		#000080':'		#500'   " >
                          <td class="c">{{distress.DISTRESS_EN_TYPE}}</td>
                          <td>{{distress.DIST_SEVERITY}}</td>
                          <td>{{distress.DIST_AREA}}</td>
                          <td>{{distress.DIST_DENSITY}}</td>
                          <td>{{distress.DEDUCT_VALUE}}</td>
                          <td>{{distress.DIST_DENSITY_UPD}}</td>
                          <td>{{distress.DEDUCT_DEN_DASH_UPD}}</td>
                          <td>{{distress.DISTRESS_NOTES}}</td>
                          <td class="">{{distress.SURVEY_DATE |date:'dd/MM/yyyy'}}</td>
                  
                        </tr>
                  
                      </tbody>
                    </table>

-->
                 


<ng2-smart-table   *ngIf="( laneId!=null &&  laneId!='اختيار' ) " [settings]="settings2" [source]="source2" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>


                  </div>
  
    <div  *ngIf="laneId!=null &&  laneId!='اختيار'  ">
    <button (click)="openForm()" class=" btn-info btn    m-1 ">   {{'DistressSurvey.AddDistress' |translate}}  </button>
  </div>


  <!--  ignor it 
                <table class="table mt-5  text-bold text-white " *ngIf="laneId!=null &&  laneId!='اختيار'  ">
                    <thead>
                      <tr >
                        <th scope="col"> اسم ورمز العيب</th>
                        <th scope="col">شدة العيب</th>
                        <th scope="col">المساحة (م2)</th>
                        <th scope="col">(%)الكثافة</th>
                        <th scope="col">نقاط الحسم</th>
                        <th scope="col"> تصحيح الكثافة</th>
                        <th scope="col"> معامل التصحيح الكلي</th>
                        <th scope="col">   الملاحظات</th>
                        <th scope="col">  تاريخ المسح </th>
  
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let distress  of Distress let i=even" [style.backgroundColor]="i===true?'#000':'#500'   " >
                      <td>{{distress.DISTRESS_EN_TYPE}}</td>
                      <td>{{distress.DIST_SEVERITY}}</td>
                      <td>{{distress.DIST_AREA}}</td>
                      <td>{{distress.DIST_DENSITY}}</td>
                      <td>{{distress.DEDUCT_VALUE}}</td>
                      <td>{{distress.DIST_DENSITY_UPD}}</td>
                      <td>{{distress.DEDUCT_DEN_DASH_UPD}}</td>
                      <td>{{distress.NOTES}}</td>
                      <td>{{distress.SURVEY_DATE |date:'dd/MM/yyyy'}}</td>
                    </tr>
                  </tbody>
                </table>
  
  -->
               </div>




  
  <div  class="borderForm" *ngIf="checkAdd ">
    <h4 class="  m-auto text-end  mb-2 mt-5 mb-5 text-black">     Enter Distress For Sample Number: ({{sample_no}})</h4>
  <form (ngSubmit)="SubmitRegisteration(registerationForm)" [formGroup]="registerationForm"  class="container mb-5" >
      <div class="container ">
        <div class="row ">
          <div class="col-md-3  m-auto">
              <label class="myfontForm"  for=''>  Distresses</label>
              <div>
                <select formControlName="DIST_CODE" (click)="my_dist_code( $event)" class="form-select form-control">
                  <option class="test" selected>اختيار</option>
                  <option  [value]=" dis.DIST_CODE" *ngFor="let dis of  DistressAll; let i=even ;" 
                  [style.backgroundColor]="i===true?'#ccc':'' ">
                    {{dis.DISTRESS_EN_TYPE}}
                  </option>
                </select>
                <div *ngIf="registerationForm.get('DIST_CODE')?.errors && registerationForm.get('DIST_CODE')?.touched "class="alert  mydecorate">
                  <p class="alert alert-info text-danger text-center"*ngIf="registerationForm.get('DIST_CODE')?.errors?.['required']">This field is required</p>
               </div>
  
        </div>
            <label class="myfontForm mt-1"  for='USERNAME '>Savirity </label>  
            <br>
  <!--
                <div>
                <select formControlName="DIST_SEVERITY" (click)="my_dist_code($event)"  class="form-select form-control">
                  <option class="test" selected>اختيار</option>
                  <option  [value]="dis.DIST_SEVERITY" *ngFor="let dis of  saviritydata; let i=even ;" 
                  [style.backgroundColor]="i===true?'#ccc':'' ">
                    {{dis.DIST_SEVERITY}}
                  </option>
                </select>
                <div *ngIf="registerationForm.get('DIST_SEVERITY')?.errors && registerationForm.get('DIST_SEVERITY')?.touched "class="alert  mydecorate">
                  <p class="alert alert-info text-danger text-center" *ngIf="registerationForm.get('DIST_SEVERITY')?.errors?.['required']">من فضلك ادخل قيمة </p>
               </div>
        </div>
  -->
        <select (click)="my_dist_code($event)" formControlName="DIST_SEVERITY" class="form-select mb-2 mt-2 " aria-label="Default select example">
          
          <option class="form-conrol" >  Value OF Savirity</option>
          <option value="L">L</option>
          <option value="M">M</option>
          <option value="H">H</option>
        </select>
        <div *ngIf="registerationForm.get('DIST_SEVERITY')?.errors && registerationForm.get('DIST_SEVERITY')?.touched "class="alert  mydecorate">
          <p class="alert alert-info text-danger text-center" *ngIf="registerationForm.get('DIST_SEVERITY')?.errors?.['required']">This field is required</p>
       </div>
      <br>
             <label  class="myfontForm"  class="" for=' '> Area (م2)</label>
             <input  placeholder="{{sample_area}} max value"  id="" formControlName="DIST_AREA" class="my-2 form-control  " type="text" >
             <div *ngIf="registerationForm.get('DIST_AREA')?.errors && registerationForm.get('DIST_AREA')?.touched "class="alert  mydecorate">
              <p class="alert alert-info text-danger text-center"   *ngIf="registerationForm.get('DIST_AREA')?.errors?.['required']">   Enter Value  </p>
              <p class="alert alert-info text-danger text-center"   *ngIf="registerationForm.get('DIST_AREA')?.errors?.['pattern']">   Enter Valid Number  </p>
        

              <!-- <p class="alert alert-info text-danger text-center"   *ngIf="registerationForm.get('DIST_AREA')?.errors?.['max']" >لايمكن لمساحة العيب أن تتجاوز مساحة العينة{{sample_area}}</p> -->
  
             </div>
             <p class="alert alert-info text-danger text-center"
             *ngIf="registerationForm.errors?.areaValid && (registerationForm.touched ||registerationForm.dirty)">The
             distress area can't be more than sample area</p>
  
             <label class="myfontForm"  class="" for=' '>  Survey Number</label>
             <input readonly  id="" formControlName="SURVEY_NO" class="my-2 form-control  " type="text">
             <div *ngIf="registerationForm.get('SURVEY_NO')?.errors && registerationForm.get('SURVEY_NO')?.touched "class="alert  mydecorate">
              <p class="alert alert-info text-danger text-center"  *ngIf="registerationForm.get('SURVEY_NO')?.errors?.['required']"> Enter Value </p>
              <p class="alert alert-info text-danger text-center"  *ngIf="registerationForm.get('SURVEY_NO')?.errors?.['pattern']">Enter Valid Number </p>
  
             </div>
  
  
             <label class="myfontForm"  class="" for=' '>  Survey Number</label>
             <input   id="" formControlName="SURVEY_DATE" class="my-2 form-control   " type="date"  >
  
             <div *ngIf="registerationForm.get('SURVEY_DATE')?.errors && registerationForm.get('SURVEY_DATE')?.touched "class="alert  mydecorate">
              <p class="alert alert-info text-danger text-center"  *ngIf="registerationForm.get('SURVEY_DATE')?.errors?.['required']">   Enter Date </p>
              <p class="alert alert-info text-danger text-center"  *ngIf="registerationForm.get('SURVEY_DATE')?.errors?.['pattern']">Date like 30/5/2020 </p>
             </div>
  
        <label class="myfontForm"  > Notes</label>
        <textarea   id="" formControlName="DISTRESS_NOTES" class="my-2 form-control  " type="text"  > </textarea>
        <div *ngIf="registerationForm.get('DISTRESS_NOTES')?.errors && registerationForm.get('DISTRESS_NOTES')?.touched "class="alert  mydecorate">
          <p class="alert alert-info text-danger text-center" *ngIf="registerationForm.get('DISTRESS_NOTES')?.errors?.['required']">   Enter Value</p>
          <p class="alert alert-info text-danger"  *ngIf="registerationForm.get('DISTRESS_NOTES')?.errors?.['minlength']" >   Minimum 4</p>
          <p class="alert alert-info text-danger"  *ngIf="registerationForm.get('DISTRESS_NOTES')?.errors?.['maxlength']" >   Max 20</p>
          <p class="alert alert-info text-danger"  *ngIf="registerationForm.get('DISTRESS_NOTES')?.errors?.['pattern']" >Delete Special Caracters </p>
        </div>
          </div>
  
        </div>
      </div>
      <br>
      <div class="  d-flex justify-content-center align-items-center">
          <button [disabled]="registerationForm.invalid"   class="btn btn-info mt-3  " type="submit">  {{'DistressSurvey.this' |translate}}  </button>
      </div>

  
      
      </form>
  </div>
  
  </div>

  
<!-- <h5 class="text-danger" *ngIf="ErrorResponse">
  {{ErrorResponse}}
</h5> -->

  
  <div class=" mt-5 container ">
    
<!--
    <div *ngIf=" laneId!=null &&  laneId!='اختيار' &&  ShowDistressPci2Table " >
    <p class="bg-success text-center w-50 m-auto text-white p-1">العيوب للعينة({{sample_no}})    </p>
  </div>
-->


<!--
      <table class="table mt-5  text-bold text-white " *ngIf="laneId!=null &&  laneId!='اختيار' && ShowDistressPci2Table ">
    <thead>
      <tr >
        <th scope="col"> اسم ورمز العيب</th>
        <th scope="col">شدة العيب</th>
        <th scope="col">المساحة (م2)</th>
        <th scope="col">(%)الكثافة</th>
        <th scope="col">نقاط الحسم</th>
        <th scope="col"> تصحيح الكثافة</th>
        <th scope="col"> معامل التصحيح الكلي</th>
        <th scope="col">   الملاحظات</th>
        <th scope="col">  تاريخ المسح </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let distress  of DistressPci2Info let i=even" [style.backgroundColor]="i===true?'#250':'#190'   " >
      <td>{{distress.DISTRESS_EN_TYPE}}</td>
      <td>{{distress.DIST_SEVERITY}}</td>
      <td>{{distress.DIST_AREA}}</td>
      <td>{{distress.DIST_DENSITY}}</td>
      <td>{{distress.DEDUCT_VALUE}}</td>
      <td>{{distress.DIST_DENSITY_UPD}}</td>
      <td>{{distress.DEDUCT_DEN_DASH_UPD}}</td>
      <td>{{distress.DISTRESS_NOTES}}</td>
      <td>{{distress.SURVEY_DATE |date:'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
  </table>
-->
 
<!-- this all in sample
  <ng2-smart-table *ngIf="laneId!=null &&  laneId!='اختيار' && ShowDistressPci2Table " [settings]="settings3" [source]="source3" (deleteConfirm)="onDeleteConfirm($event)">
    
-->

<!--</div>-->





  
  
  <!-- <p  *ngIf="checkClick" class=" text-center w-50 m-auto text-black p-1"> © جميع حقوق الطبع والنشر محفوظة لدى خارطة الإنماء للإستشارات الهندسية </p> -->
  
  
  
 