// @import '../../@theme/styles/themes';

// @include nb-install-component() {
//   nb-card {
//     transform: translate3d(0, 0, 0);
//   }









  
.mydecorate
{
    font-size: large;
    color: black;
    background-color: cadetblue;
    border-color: black;
    border-radius: 2px;
}


.mydecorate2
{
    font-size: large;
    color: black;
    background-color:wheat;
    
}

.myalert{
    background-color: green;
}


// }