// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
$nb-enable-css-custom-properties: true;
$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

      menu-item-icon-margin: 0 0.5rem 0 0,

      card-height-tiny: 13.5rem,
      card-height-small: 21.1875rem,
      card-height-medium: 28.875rem,
      card-height-large: 36.5625rem,
      card-height-giant: 44.25rem,
      card-margin-bottom: 1.875rem,
      card-header-with-select-padding-top: 0.5rem,
      card-header-with-select-padding-bottom: 0.5rem,

      select-min-width: 6rem,

      slide-out-background: #f7f9fc,
      slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
      slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
      font-family-primary: unquote('Cairo, sans-serif'),
      font-family-secondary: font-family-primary,
    ), default, default);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

      menu-item-icon-margin: 0 0.5rem 0 0,

      card-height-tiny: 13.5rem,
      card-height-small: 21.1875rem,
      card-height-medium: 28.875rem,
      card-height-large: 36.5625rem,
      card-height-giant: 44.25rem,
      card-margin-bottom: 1.875rem,
      card-header-with-select-padding-top: 0.5rem,
      card-header-with-select-padding-bottom: 0.5rem,

      select-min-width: 6rem,

      slide-out-background: #252547,
      slide-out-shadow-color: 2px 0 3px #29157a,
      slide-out-shadow-color-rtl: -2px 0 3px #29157a,
      font-family-primary: unquote('Cairo, sans-serif'),
      font-family-secondary: font-family-primary,
    ), cosmic, cosmic);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

      menu-item-icon-margin: 0 0.5rem 0 0,

      card-height-tiny: 13.5rem,
      card-height-small: 21.1875rem,
      card-height-medium: 28.875rem,
      card-height-large: 36.5625rem,
      card-height-giant: 44.25rem,
      card-margin-bottom: 1.875rem,
      card-header-with-select-padding-top: 0.5rem,
      card-header-with-select-padding-bottom: 0.5rem,

      select-min-width: 6rem,

      slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
      slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
      slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
      font-family-primary: unquote('Cairo, sans-serif'),
      font-family-secondary: font-family-primary,
    ), corporate, corporate);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

      menu-item-icon-margin: 0 0.5rem 0 0,

      card-height-tiny: 13.5rem,
      card-height-small: 21.1875rem,
      card-height-medium: 28.875rem,
      card-height-large: 36.5625rem,
      card-height-giant: 44.25rem,
      card-margin-bottom: 1.875rem,
      card-header-with-select-padding-top: 0.5rem,
      card-header-with-select-padding-bottom: 0.5rem,

      select-min-width: 6rem,

      slide-out-background: linear-gradient(270deg, #18c870 0%, #0cc718 100%),
      slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
      slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
      font-family-primary: unquote('Cairo, sans-serif'),
      font-family-secondary: font-family-primary,
    ), dark, dark);

$nb-themes: nb-register-theme((color-primary-100: #E7FBD0,
      color-primary-200: #CBF7A2,
      color-primary-300: #A2E971,
      color-primary-400: #E09F3E,
      color-primary-500: #E09F3E,
      color-primary-600: #E09F3E,
      color-primary-700: #E09F3E,
      color-primary-800: #E09F3E,
      color-primary-900: #045705,
      color-success-100: #D4FCD3,
      color-success-200: #A8FAAD,
      color-success-300: #7AF28E,
      color-success-400: #58E67D,
      color-success-500: #E09F3E,
      color-success-600: #E09F3E,
      color-success-700: #E09F3E,
      color-success-800: #E09F3E,
      color-success-900: #E09F3E,

      color-info-100: #D4E3FF,
      color-info-200: #AAC5FF,
      color-info-300: #7FA6FF,
      color-info-400: #608BFF,
      color-info-500: #2B60FF,
      color-info-600: #1F49DB,
      color-info-700: #1535B7,
      color-info-800: #0D2493,
      color-info-900: #08187A,
      color-warning-100: #FFF9CC,
      color-warning-200: #FFF099,
      color-warning-300: #FFE667,
      color-warning-400: #FFDC41,
      color-warning-500: #FFCC02,
      color-warning-600: #DBAA01,
      color-warning-700: #B78B01,
      color-warning-800: #936C00,
      color-warning-900: #7A5700,
      color-danger-100: #FFE7DA,
      color-danger-200: #FFC9B6,
      color-danger-300: #FFA491,
      color-danger-400: #FF8276,
      color-danger-500: #FF4949,
      color-danger-600: #DB3543,
      color-danger-700: #B7243E,
      color-danger-800: #931737,
      color-danger-900: #7A0E33,
      sidebar-background-color:#277DA1,
      card-background-color:#277DA1,
      card-header-text-color:#FFFFFF,
      card-text-color:#FFFFFF,
      card-text-font-size:1.9375rem,
      tabset-tab-text-color:#FFFFFF,
      tabset-content-text-color:#FFFFFF,
      radio-basic-text-color:#FFFFFF,
      header-background-color:#277DA1,
      card-border-radius:1.25rem,
      header-shadow:0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),
header-text-color:#FFFFFF,
      header-padding-bottom:5.25rem,
      menu-background-color:#277DA1,
       card-divider-style:none,
             sidebar-width:26rem,
      menu-text-color:#FFFFFF,
      sidebar-text-color:#FFFFFF,
      slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
      slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
      slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
      font-family-primary: unquote('Cairo, sans-serif'),
      font-family-secondary: font-family-primary,
      lable:#FFFFFF,
    ), custom-dark, corporate); // <- theme name and a parent theme