
.joe{
  width: auto;
  height: fit-content;
  overflow-y: hidden;
  justify-content: center;
  white-space: nowrap;
}
.joe1{
  width: auto;
  height: 20rem;
  overflow-y: hidden;
  justify-content: center;
  white-space: nowrap;
}
.borderForm {
  margin-left: auto;
  margin-right: auto;
    justify-content: end;
   width:35rem;
    border: 0.8rem solid #277DA1;
    border-radius: 15px;
    padding: 20px;
    border-style: groove;
  }

// .borderForm2 {

// width: auto;
//   height: auto;
//   overflow-y: hidden;
//   justify-content: center;
//   //white-space: nowrap;
//   border: 0.8rem solid #277DA1;
//   border-radius: 15px;
//   padding: 20px;
//   border-style: groove;
// }
.fonto
{
  font-size: larger;
  font-weight: bold;
}


:host ::deep ng2-smart-table-title>a {
  color: white;
}

:host ::deep ng2-smart-table thead>tr>th {
  background-color: #277DA1;
}

// :host /deep/ ng-multiselect-dropdown {
//   margin: 0; height: 100%; overflow: hidden; scroll-behavior: auto;
// }


:host ::ng-deep ng2-smart-table thead>tr>th {
  background-color: #277DA1;
}


:host ::ng-deep ng2-smart-table-title>a {
  color: white;
}