.button1 {
  margin-left: auto;
  margin-right: auto;
  }


// :host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item a {
//     background-color: red;
//   }
::ng-deep {
    .is-invalid {
      .dropdown-btn {
        border: 1px solid red !important;
      }
    }
    .multiselect-dropdown {
      
           .dropdown-btn {
        .selected-item {
         background-color: #138C9A

         !important;      
          &:hover {
            box-shadow: 1px 1px 2px 0px #5a5a5a !important;
          }
        }
      }
    }
  }

label{
  font-size: large;
}

.my-radio-style .radio-input {
  border-color: blue;
}

.my-radio-style .check {
  background-color: blue;  
}