<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="t1">{{'equipment-validate-fwd.name' |translate}}</h1>

    </div>
</div>
<nb-card>
    <nb-card-header class="text-center">
        <label>{{'equipment-validate-fwd.Street_name' |translate}}</label>
        <select (ngModelChange)="onChange($event)" required name="MAIN_NO" [(ngModel)]="MAIN_NO" ngModel
            class="form-control grid-width-100" data-style="btn-success">
            <option *ngFor="let streetsIRI of StreetsIRI" [value]="streetsIRI.MAIN_NO">
                {{ streetsIRI.ARNAME }}
            </option>
        </select>
    </nb-card-header>
</nb-card>
<!-- <label>تحميل ملف اكسل</label> -->
<!-- <nb-icon class="down" (click)="downloadCSV()" icon="download-outline"></nb-icon> -->

<ng2-smart-table [settings]="settings1" [source]="source1"> </ng2-smart-table>