.f
{
  // color:red;
 // border-radius: 20px;
  background-color: #277DA1;
  color: white;
  font-size: 16px;
  text-shadow: #277DA1;
}

.cardo
{
    // border-radius: 200px  ;
    border-color: white;
   // margin-top: 130px;
  //  padding: 50px;
   // background-color: #138C9A;
}

.bor
{
    border-radius: 30px;
   // color: #138C9A;
  //  border-color: #138C9A;
   // background-color: whitesmoke;
    padding: 60px;
   // border-style: dashed;
}

.fosi
{
    font-size: 17px;
    width: 80%;
}

.border-3 {
    border-width:4px !important;
    border-color: white !important;
}

.parent 
{
    background-color: #277DA1;
    padding: 20px;
}