<p>mapping-filter works!</p>

<button nbButton status="success" type="button" (click)="doMapAssetsClassify()" >Do Map Asset Classfication </button>
    <input type="text" nbInput fullWidth placeholder="التصنيف" [(ngModel)] ="ClassificationName" id="ClassificationName">


<button nbButton status="success" type="button" (click)="doFilter()" >Do Filter</button>
idsss
<input type="text" nbInput fullWidth placeholder="الاسم" [(ngModel)] ="name1" id="name">
المحافظة
<input type="text" nbInput fullWidth placeholder="gov" [(ngModel)] ="filterCryteriaObject.GovId" id="name">
